*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #CCCCCC;
    padding-bottom: 100px;
    font-family: 'Andika', sans-serif;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Andika', sans-serif;
    background-color: #2E2E2E;
    box-shadow: 0 0 1000px 200px #C03C20;
}

.logo a{
    color: #C03C20; 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover{
    color: lightslategray;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2E2E2E;
    color: #C03C20;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
}

footer p{
    padding: 5px;
}

@media screen and (max-width:1284px){

}